@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

h3:hover {
    color: #c92868;
}

h1 {
    font-family: 'Lato', sans-serif;
}

h3 {
    font-family: 'Lato', sans-serif;
}